__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*

*.db
*.sqlite
*.sqlite3

.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

.vscode/
.idea/
*.iml

build/
dist/
out/
bin/
obj/

.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

*.log